name: poky-container build and test
on:
  push:
    branches:
      - master
  pull_request:

  # Allow for manually running
  workflow_dispatch:

  # Run at 01:42 UTC every Saturday
  schedule:
    - cron: '42 1 * * 6'

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        base_distro: [
                      alma-8,
                      centos-7,
                      debian-9,
                      debian-10,
                      debian-11,
                      fedora-34,
                      fedora-35,
                      fedora-36,
                      opensuse-15.2,
                      opensuse-15.3,
                      opensuse-15.4,
                      ubuntu-18.04,
                      ubuntu-20.04,
                      ubuntu-22.04
        ]
    env:
      BASE_DISTRO: ${{ matrix.base_distro }}
      REPO: crops/poky
      DEFAULT_DISTRO: ubuntu-18.04
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

    steps:
      - uses: actions/checkout@v3

      # Build and test the images
      - name: Run build-and-test.sh
        run: ./build-and-test.sh

      # Deploy the images
      - name: Deploy
        run: bash deploy.sh
